.social-btn {
  display: flex;
  font-size: 0;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-btn--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.social-btn--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
}

.social-btn--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
}
